# Игнорировать файлы конфигурации
.env

# Игнорировать временные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы журналов
*.log

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать файлы IDE
.idea/
.vscode/

# Игнорировать базы данных
*.db
*.sqlite3
